<div>
    <p class="text-gray-400 text-center">Users to be kicked</p>

    <div
        class="relative overflow-x-auto rounded"
        hx-get="/auto-check/users-to-kick"
        hx-trigger="load"
    ></div>
</div>

<br />

<div>
    <p class="text-gray-400 text-center">Sussy bakas</p>

    <div
        class="relative overflow-x-auto rounded"
        hx-get="/auto-check/users-to-sussify"
        hx-trigger="load"
    ></div>
</div>
